# Taller Python

Resolución de expresiones

In [1]:
 4 + 3

7

In [2]:
4 > 3

True

In [3]:
# Hay expresiones algebraicas y expresiones lógicas

In [4]:
4 - 3

1

In [5]:
4 * 3

12

In [6]:
type(4 * 3)

int

In [7]:
type(4 / 3)

float

In [8]:
4 / 3

1.3333333333333333

In [9]:
type(4 / 2) # La división devuelve un decimal (float)

float

In [10]:
4 / 2

2.0

In [11]:
10 // 3 # // devuelve el valor entero

3

In [15]:
19 % 4 # % devuelve el resto

3

In [16]:
4 ** 3

64

In [17]:
4 + 2 * 3

10

In [18]:
type(4 + 3j)

complex

In [19]:
type(True)

bool

In [20]:
type("Hola")

str

In [21]:
bool(True)

True

In [22]:
bool(False)

False

In [23]:
bool(1)

True

In [24]:
bool(0)

False

In [25]:
True and False

False

In [26]:
True or False

True

In [27]:
2 + 2 == 4

True

In [28]:
2 + 2 != 4

False

# Variables

In [40]:
a = 1

In [41]:
type(a)

int

In [42]:
bool(a)

True

In [43]:
a = a + 1

In [44]:
print(a)

2

In [45]:
a += 1
print(a)

3

In [57]:
a = 10
b = 20
print("Antes del algortimo")
print("a =",a,"  b =",b)
# Hacer un algoritmo que invierta los valores de a y b
# Comienza código(4 líneas) definir dos variables aaux y baux
aaux = a
baux = b
a = baux
b = aaux
# Fin de código
print()
print("Después del algoritmo")
print("a =",a,"  b =",b)

Antes del algortimo
a = 10   b = 20

Después del algoritmo
a = 20   b = 10

In [58]:
a = 10
b = 20
print("Antes del algortimo")
print("a =",a,"  b =",b)
# Hacer un algoritmo que invierta los valores de a y b
# Comienza código(3 líneas) definir dos variables aux 
aux = a
a   = b
b   = aux 
# Fin de código
print()
print("Después del algoritmo")
print("a =",a,"  b =",b)

Antes del algortimo
a = 10   b = 20

Después del algoritmo
a = 20   b = 10

In [60]:
a = 10
b = 20
print("Antes del algortimo")
print("a =",a,"  b =",b)
# Hacer un algoritmo que invierta los valores de a y b
# Comienza código(3 líneas) sin variables auxiliares 
a = a + b # nuevo a vale aviejo + b viejo
b = a - b # nuevo b vale aviejo
a = a - b # avale aviejo + bviejo si le resto aviejo queda aviejo   
# Fin de código
print()
print("Después del algoritmo")
print("a =",a,"  b =",b)

Antes del algortimo
a = 10   b = 20

Después del algoritmo
a = 20   b = 10

In [61]:
a = 10
b = 20
print("Antes del algortimo")
print("a =",a,"  b =",b)
# Hacer un algoritmo que invierta los valores de a y b
# A LO PYTHON (una sola línea) 

a , b = b , a

# Fin de código
print()
print("Después del algoritmo")
print("a =",a,"  b =",b)

Antes del algortimo
a = 10   b = 20

Después del algoritmo
a = 20   b = 10

# Sentencias de control de flujo

In [65]:
print(10 % 2 == 0)
print(11 % 2 == 0)
print(5 %  2 == 0)
print(8 %  2 == 0)

True
False
False
True

In [66]:
# Ingresar un entero y decir si es o no divisible por 7

In [67]:
input()

555

'555'

In [70]:
numero = int(input("Ingrese un número: "))

Ingrese un número: 5557

In [75]:
numero = int(input("Ingrese un número: "))
if numero % 7 == 0:
    print(numero, "es divisible por 7")
else:
    print(numero, "no es divisible por 7")

Ingrese un número: 22
22 no es divisible por 7

In [82]:
lista = [100,"Hola",30,40]
print(type(lista))
print(lista)

<class 'list'>
[100, 'Hola', 30, 40]

In [83]:
lista.append(50)
print(lista)

[100, 'Hola', 30, 40, 50]

# Bucles

In [84]:
for temp in lista:
    print(temp)

100
Hola
30
40
50

In [86]:
lista.clear()
print(lista)
for i in range(1000):
    lista.append(i + 1)
print(lista)

[]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [88]:
lista.clear()
print(lista)
for i in range(99,1000):
    lista.append(i + 1)
print(lista)

[]
[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [89]:
lista.clear()
print(lista)
for i in range(99,1000,15):
    lista.append(i + 1)
print(lista)

[]
[100, 115, 130, 145, 160, 175, 190, 205, 220, 235, 250, 265, 280, 295, 310, 325, 340, 355, 370, 385, 400, 415, 430, 445, 460, 475, 490, 505, 520, 535, 550, 565, 580, 595, 610, 625, 640, 655, 670, 685, 700, 715, 730, 745, 760, 775, 790, 805, 820, 835, 850, 865, 880, 895, 910, 925, 940, 955, 970, 985, 1000]

In [91]:
lista.clear()
print(lista)
for i in range(1000,100,-25):
    lista.append(i )
print(lista)

[]
[1000, 975, 950, 925, 900, 875, 850, 825, 800, 775, 750, 725, 700, 675, 650, 625, 600, 575, 550, 525, 500, 475, 450, 425, 400, 375, 350, 325, 300, 275, 250, 225, 200, 175, 150, 125]

# Estructuras de datos

## Secuencias

- Listas:  list  - mutables
- Tuplas:  tuple - inmutables
- Cadenas: str   - inmutables

In [92]:
palabra = "hOlA a tOdOs"

In [93]:
type(palabra)

str

In [94]:
palabra.lower()

'hola a todos'

In [95]:
palabra.upper()

'HOLA A TODOS'

In [96]:
palabra.title()

'Hola A Todos'

In [97]:
palabra.capitalize()

'Hola a todos'

In [98]:
p = palabra.split()
print(p)

['hOlA', 'a', 'tOdOs']

In [100]:
p = palabra.split("O")
print(p)

['h', 'lA a t', 'd', 's']

In [101]:
"O".join(p)

'hOlA a tOdOs'

In [112]:
palabra = "hOlA a tOdOs"
print(palabra[0])
print(palabra[1:8])
print(palabra[2:])
print(palabra[:5])
print(palabra[-1])
print(palabra[1:10:2])

h
OlA a t
lA a tOdOs
hOlA
s
OAatd

In [113]:
palabra[0] = "H"

TypeError: 'str' object does not support item assignment

In [114]:
print(lista)

[1000, 975, 950, 925, 900, 875, 850, 825, 800, 775, 750, 725, 700, 675, 650, 625, 600, 575, 550, 525, 500, 475, 450, 425, 400, 375, 350, 325, 300, 275, 250, 225, 200, 175, 150, 125]

In [116]:
tupla = tuple(lista)
print(tupla)

(1000, 975, 950, 925, 900, 875, 850, 825, 800, 775, 750, 725, 700, 675, 650, 625, 600, 575, 550, 525, 500, 475, 450, 425, 400, 375, 350, 325, 300, 275, 250, 225, 200, 175, 150, 125)

In [118]:
tupla[0] = 10

TypeError: 'tuple' object does not support item assignment

In [119]:
lista[0] = 10
print(lista)

[10, 975, 950, 925, 900, 875, 850, 825, 800, 775, 750, 725, 700, 675, 650, 625, 600, 575, 550, 525, 500, 475, 450, 425, 400, 375, 350, 325, 300, 275, 250, 225, 200, 175, 150, 125]

# Estructuras sin orden - conjuntos

- Conjuntos: set - mutables
-            frozenset - inmutables

In [122]:
a1 = {1,2,3,3}
print(type(a1))
print(a1)

<class 'set'>
{1, 2, 3}

In [123]:
a2 = {3,2,1}

In [124]:
a1 == a2

True

In [125]:
a3 = {}
type(a3)

dict

In [126]:
a3 = set()
print(type(a3))
print(a3)

<class 'set'>
set()

In [129]:
f = frozenset({1,2,7})
print(type(f))
print(f)

<class 'frozenset'>
frozenset({1, 2, 7})

In [134]:
f = frozenset({(1,4),2,7)

SyntaxError: invalid syntax (<ipython-input-134-e9259f03ff47>, line 1)

In [133]:
f = frozenset({[1,4],2,7})

TypeError: unhashable type: 'list'

In [135]:
f = frozenset({(1,4),2,7,{}})

TypeError: unhashable type: 'dict'

In [136]:
f = frozenset({(1,4),2,7,{5}})

TypeError: unhashable type: 'set'

In [137]:
f = frozenset({(1,4),2,7,frozenset({5})})

In [138]:
print(f)

frozenset({frozenset({5}), 2, (1, 4), 7})

# Diccionarios:
Son conjuntos de pares clave, valor

In [149]:
persona = {"Nombre":"Juan","Edad":34,"Profesion":"Ingeniero"}
print(type(persona))
print(persona)

<class 'dict'>
{'Nombre': 'Juan', 'Edad': 34, 'Profesion': 'Ingeniero'}

In [150]:
persona["Nombre"]

'Juan'

In [151]:
len(persona)

3

In [152]:
persona["Nacionalidad"] = "Argentina"

In [153]:
print(persona)

{'Nombre': 'Juan', 'Edad': 34, 'Profesion': 'Ingeniero', 'Nacionalidad': 'Argentina'}

In [154]:
persona.keys()

dict_keys(['Nombre', 'Edad', 'Profesion', 'Nacionalidad'])

In [155]:
persona.items()

dict_items([('Nombre', 'Juan'), ('Edad', 34), ('Profesion', 'Ingeniero'), ('Nacionalidad', 'Argentina')])

In [156]:
print(lista)

[10, 975, 950, 925, 900, 875, 850, 825, 800, 775, 750, 725, 700, 675, 650, 625, 600, 575, 550, 525, 500, 475, 450, 425, 400, 375, 350, 325, 300, 275, 250, 225, 200, 175, 150, 125]

In [157]:
max(lista)

975

In [158]:
min(lista)

10

In [159]:
len(lista)

36

In [160]:
sum(lista)

19260

In [163]:
import numpy as np
np.mean(np.array(lista))

535.0

# Funciones de usuario

In [164]:
def suma(a, b):
    print(a + b)

In [165]:
suma(100,350)

450

In [166]:
suma(b = 10, a = 65)

75

In [168]:
def potencia(a, potencia = 2):
    return a ** potencia

In [170]:
potencia(10)

450

In [171]:
potencia(5,4)

625

In [172]:
potencia(potencia = 4, a = 5)

625

In [174]:
def potencia(potencia = 2, a):
    return a ** potencia

# NO SE PUEDE, van primero los posicionales

SyntaxError: non-default argument follows default argument (<ipython-input-174-9333d4fc4508>, line 1)

In [176]:
def sumatoria(*lista):
    print(sum(lista))

In [181]:
sumatoria(10,20,40,50,60)

180

In [182]:
def mostrar(**diccio):
    print(diccio)

In [190]:
print(type(persona))
# mostrar(persona)
mostrar(name="yasoob")
mostrar(potencia = 4, a = 5)

<class 'dict'>
{'name': 'yasoob'}
{'potencia': 4, 'a': 5}

In [187]:
def greet_me(**kwargs):
    for key, value in kwargs.items():
        print("{0} = {1}".format(key, value))

In [188]:
greet_me(name="yasoob")

name = yasoob

In [191]:
def sumar(a,b,c,d):
    print(a + b + c + d)

In [192]:
sumar(1,2,3,4)

10

In [193]:
sumar(*[1,2,3,4])

10

## Ejemplos de código - varios
https://github.com/backpropagation-limitada